@mixin hover {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}


/* ------ HEADER STYLES----------------------*/
a {
	@include hover;
}
header {
	//border-bottom: 1px solid $darkGray;
	
}

.top-menu.contain-to-grid {
	//background: url(../img/top-bar-bg1.jpg) repeat;
	border-bottom: 1px solid rgba($white, .3);
	@include single-box-shadow(rgba($black, 1), 1px, 1px, 10px);
	@include background(linear-gradient(color-stops($black, $charcoal 100%)));
	.top-bar {
		@include hover;
		background: none;

	}
	
	.top-bar-section > ul {
		background: none;
		> li {
			a {
				font-size: 1.25em;
				background: none;
				font-family: $proximaCondensed;
			}
			
			
			
		}
	}
	
	ul.dropdown {
		//background: $darkGray;
		@include background(linear-gradient(color-stops($black, $charcoal 100%)));
		@include single-box-shadow(rgba($black, 1), 1px, 1px, 10px);
		
		li {
			a {
				border-bottom: 1px solid rgba($white, .1);
				background: $clear;
				&:hover {
					@include background(linear-gradient(color-stops($red, darken($red, 10%) 100%)));
					
				}
			}
			text-align: left;	
			a {
				border-bottom: 1px solid rgba($white, .1);
				font-size: 1em;
				background: none;
				font-family: $proximaCondensed;
			}
			&:last-child  {
				a {
					border-bottom: none;
				}
			}
		}
	}
	
	
}
.event-menu.contain-to-grid {
	background: url("../img/top-bar-bg1.jpg") repeat;
	border-top: 1px solid $darkGray;
	border-bottom: 1px solid $darkGray;
	@include single-box-shadow(rgba($black, 1), 1px, 1px, 10px);
	
	.top-bar {
		@include hover;
		background: none;
		
		.top-bar-section {
			
			ul {
				background: none;
				li {
					padding: 0;
					a {
						color: white;
						background: none;
						font-family: $proximaCondensed;
						text-transform: uppercase;
						font-size: 1.5em;
						padding: 0 1.2em;
						&:hover {
							background: $gold;
							//@include background(linear-gradient(color-stops(lighten($gold, 10%), $gold 100%)));
							opacity:.8;
							color: black;
						}
					}
				}
			}
			ul.dropdown {
				background: $black;
				@include background(linear-gradient(color-stops($black, $charcoal 100%)));
				@include single-box-shadow(rgba($black, 1), 1px, 1px, 10px);
				li {
					margin: 0;
					padding: 0;
					text-align: left;
					border: none;
					a {
						//font-family: $museoSans;
						font-size: 1em;
						padding: .5em;
						border: none;
						border-bottom: 1px solid rgba($white, .1);
						text-transform: initial;
						&:hover {
							color: lighten($gold, 10%);
							@include background(linear-gradient(color-stops($red, darken($red, 10%) 100%)));

						}
					}
					&:last-child  {
						a {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}



.event-banner {
	background-image: url(../img/event-banner-2.jpg);
	background-size:cover;
	//background-attachment: fixed;
	text-shadow: 0 0 10px #000000;
	
	h2 {
		color: white;
		text-align: center;
		font-size: 1.2em;
		font-weight: 700;
		
	}
	h3 {
		color: $gold;
		text-align: center;
		//font-size: 1.5em;
		font-weight: 700;
		//margin-top: 1.5em;
	}
	h4 {
		color: white;
		text-align: center;
		//font-size: 1.3em;
	}
	
}



/* ------ COUNTDOWN PANEL----------------------*/
.slider-wrapper {
	position: relative;
	.orbit-container .orbit-slides-container img {
		width: 100%;
		height: auto;
	}
}

.countdown-toggle {
	position: absolute;
	z-index: 20;
	//display: none;
	right: 50px;
	background: rgba(black,.8);
	height: 400px;
	border:1px solid $darkGray;
	width:400px;
	margin-top: -216px;
	top: 50%;
	
	padding: 1em 0;
	span.countdown-toggle-text {
		h3 {
			color: $gold;
			font-size: 2.2em;
			font-weight: 300;
			margin: 0 auto;
			text-align: center;
		}
	}
	p {
		color: $silver;
		text-align: center;
		font-size: 1em;
	}
}

.countdown-sponsor-logo {
	margin: 0 2em 2em 2em;
	img {
		width: 100%;
	}
}

/* ------ MAIN CONTENT STYLES----------------------*/
.page-wrapper {
	padding: 2em;
	background: white;
	h1 {
		color: $red;
	}
	h2 {
		color: darken($red,10%);
		font-size: 1.5em;
	}
	p {
		color: #323232;
	}
	a {
		color: $red;
		&:hover {
			color: $gold;
		}
	}
}
.panel-wrapper {
	//margin-top: 2em;
	h2 {
		color: white;
		background: rgba(#000,.7);
		padding: .4em 0;
		text-align: center;
	}
	.sponsor-panel {
		background: url(../img/sponsor-img-bg.jpg) no-repeat;
		background-size: cover;
		//height: 400px;
		img {
			//margin-top: 5em;
			//margin-left: 3em;
		}
	}
	.newsletter-panel {
		background: url(../img/newsletter-img-bg.jpg) no-repeat;
		background-size: cover;
		height: 400px;
	}
	.social-panel {
		background: url(../img/social-img-bg.jpg) no-repeat;
		background-size: cover;
		//height: 400px;
		p {
			//margin-top: 2.5em;
			color: white;
			text-align: center;
			font-size: 1.2em;
		}
		ul {
			//margin-left: 1em; 
		}
	}
}
.inside-panel {
	padding: 1em;
}


/* ------ FOOTER STYLES----------------------*/
.sitemap-div {
	width: 100%;
	margin-top: 2em;
	.sitemap-toggle {
		background: $gold;
		padding: .5em;
		width: 115px;
		border-radius: 6px 6px 0 0;
		h3 {
			font-size: 1.3em;
			text-align: left;
			margin: 0;
		}
		a {
			color: #000;
		}
		span.plus-sign {
			margin-left: .5em;
			//margin-top: -.5em;
		}
	}
}
footer {
	border-top:1px solid $darkGray;
	background-image: url(../img/footer-top.jpg);
	background-repeat: repeat-x;
	background-color: #000;
	height: 100px;
	margin-top: 2em;
}
.footer-wrapper {
	padding: 2em;
	p {
		color: white;
	}
}

/* ------ TYPOGRAPHY OVERRIDES----------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: $proximaCondensed;
	font-weight: 300;
	text-transform: uppercase;
}
p {
	font-family: $museoSans;
	font-weight: 300;
}

/* ------ GENERAL STYLES----------------------*/
form {
	margin-top: 3em;
	.button {
		background: $gold;
		margin-top: 1em;
		
		color: #000;
	}
}
label {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.5em;
	
}
input[type="text"] {
	height: 3em;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-align: center;
}

/* ------ MEDIA QUERIEEES----------------------*/

@media #{$small-only} {
	.top-menu {
		ul.title-area {
			border-bottom: 1px solid rgba($white, .3);
			@include single-box-shadow(rgba($black, 1), 1px, 1px, 10px);
			@include background(linear-gradient(color-stops($black, $charcoal 100%)));
		}
		section.top-bar-section {
			> ul {
				> li {
					> a {
						border-bottom: 1px solid rgba($white, .1);
						background: $clear;
						&:hover {
							@include background(linear-gradient(color-stops($red, darken($red, 10%) 100%)));

						}
					}
				}
			}
		}
	}
	
}

@media #{$small-up} { 


	.event-banner {
		background-position: center center;
		h3 {
			color: $gold;
			text-align: center;
			font-size: 1em;
			font-weight: 700;
			margin-top: 3em;
		}
		h4 {
			color: white;
			text-align: center;
			font-size: .9em;
			margin-top: .25em;
		}
		.event-logo {
			padding: 1em 0;
		}
	}
	
//	.panel-wrapper {
//		.sponsor-panel {
//			background: url(../img/sponsor-img-bg.jpg) no-repeat;
//			height: 200px;
//			margin-bottom: 2em;
//			img {
//				margin-top: 0;
//				margin-left: 1em;
//			}
//		}
//	}
	.sponsor-panel {
	//			background: url(../img/sponsor-img-bg.jpg) no-repeat;
				height: 200px;
				margin-bottom: 2em;
	}
	.newsletter-panel {
		margin-bottom: 2em;
	}
	.social-panel {
		background: url(../img/social-img-bg.jpg) no-repeat;
		height: 250px;
		p {
			margin-top: .5em;
			color: white;
			text-align: center;
			font-size: 1.2em;
		}
		ul {
			margin-left: 0;
			li {
				img {
					width: 45px;
				}
			} 
		}
	}
	.footer-wrapper {
		padding: 2em;
		p {
			margin-top: 1em;
			color: white;
		}
	}

/* ------ END SMALL----------*/
}

@media #{$medium-up} { 
/* 641px, 1024px */
	.event-banner {
		background-position: center right;
		h3 {
			color: $gold;
			text-align: center;
			font-size: 1.5em;
			font-weight: 700;
			margin-top: 1.5em;
		}
		h4 {
			color: white;
			text-align: center;
			font-size: 1.4em;
		}
		
	}
	
	.event-menu.contain-to-grid .top-bar {
			.top-bar-section {
				> ul {
					> li {
						li:first-child {
							border-left: none;
						}
						//font-size:.6em;
						text-align: left;
						> a {
							font-size: .9em;
						}
					}
				}
			}	
		}
	

	header {
		background: url(../img/top-bar-bg1.jpg) repeat-x;
		border-bottom: 1px solid $darkGray;
	}
		
//	.panel-wrapper {
//		.sponsor-panel {
//			background: url(../img/sponsor-img-bg.jpg) no-repeat;
//			height: 200px;
//			margin-bottom: 2em;
//			img {
//				margin-top: 0;
//				margin-left: 1em;
//			}
//		}
//	}
	.newsletter-panel {
		margin-bottom: 2em;
	}
	.social-panel {
		background: url(../img/social-img-bg.jpg) no-repeat;
		height: 250px;
		p {
			margin-top: .5em;
			color: white;
			text-align: center;
			font-size: 1.2em;
		}
		ul {
			margin-left: 0;
			li {
				img {
					width: 45px;
				}
			} 
		}
	}
	
	
}

@media #{$medium-only} {
	.top-menu.contain-to-grid {
		.top-bar-section > ul {
			> li > a {
				margin-top: .75em;
				line-height: 1em;
				font-size: .7em;
				min-height: 3em;
				
			}
		}

	}
	
	.event-menu.contain-to-grid .top-bar {
		.top-bar-section > ul {
			> li > a {
				padding: 0 .75em;
				
			}
		}
	}
	
	.event-menu.contain-to-grid {
		section.top-bar-section {
				display: table;
				margin: 0 auto;
				//padding: .3em 0;
		}
	}
	
}
/* ------ END MEDIUM----------*/	

@media #{$large-up} { 
 /* 1025px, 1200px */
	.top-menu.contain-to-grid .top-bar {
		.top-bar-section > ul {
			> li > a {
				font-size: 1.1em;
				//padding: 0 .75em;
				
			}
		}
	}
	.event-menu.contain-to-grid .top-bar {
		.top-bar-section > ul {
			> li {
				> a {
					font-size: 1.25em;
					padding: 0 1.25em;
					border-left: 1px solid $darkGray;

				}
				&:last-child {
					> a {
						border-right: 1px solid $darkGray;
					}
					
				}
			}
			
		}
	}
	.panel-wrapper {
		margin-top: 2em;
		.sponsor-panel, .newsletter-panel, .social-panel {
			min-height: 400px;
		}
	}
	.event-logo {
		width: 130px;
		height: auto;
	}
	.slider-wrapper .orbit-container {
		overflow: hidden;
		max-height: 500px;
	}
	.event-banner {
		font-size: 1.25em;
		h3, h4 {
			font-family: $museoSans;
			span {
				font-size: .5em;
				letter-spacing: .5em;
				//font-family: $proximaCondensed;
			}
		}
	}
}


/* ------ END LARGE----------*/	


@media #{$xlarge-up} { 
	.event-logo {
		width: 140px;
		height: auto;
	}

	.top-menu.contain-to-grid .top-bar {
		.top-bar-section > ul {
			> li > a {
				font-size: 1.25em;
				padding: 0 1em;
				
			}
		}
	}
	.event-menu.contain-to-grid .top-bar {
		.top-bar-section > ul {
			> li > a {
				font-size: 1.55em;
				
				
			}
		}
	}
	
	.slider-wrapper .orbit-container {
		overflow: hidden;
		max-height: 600px;
	}


}
